<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--<link rel="stylesheet" type="text/css" href="../css/index.css">-->
    <!--Tag Style Temporario-->
    <style>
        body {
            background-color: #181818;
            color: white;
        }

        .abaOff {
            display: none;
        }

        #Aba0 {
            margin-top: 5px
        }

        #Aba1 {
            margin-top: 5px
        }

        #Aba2 {
            margin-top: 5px
        }

        #Aba3 {
            margin-top: 5px
        }


        #produto-background {
            background-color: gray;
        }

        #opcoes {
            text-align: center;
        }

        #linha {
            background-color: gold;
        }

        #carouselExampleCaptions {
            margin-top: 60px;
        }

    </style>

    <title>Jr Outlet</title>

</head>
<body>
    {{{body}}}
</body>

</html>
