<div class="container">
    <div class="row">
        <div class="col">
            <!--CONFIG DA EDIÇÃO DA LOGO-->
            <div class="container col-md">
                <h2 style="text-align:center">EDITAR LOGO</h2>
                <div class="col border">
                    <h4 style="text-align:center">Logo</h4>
                    <hr id="linha" />
                    <form action="user/upload" method="post" enctype="multipart/form-data">
                        <label class="input-group-peprend mb-0">
                            <span class="input-file-btn">
                                <input type="file" name="logo" readonly="readonly" hidden>
                            </span>
                        </label>
                        <input name="logo" type="text" class="btn btn-outline-light input-file-dummy" placeholder="Foto para logo.png" aria-describedby="fileHelp" readonly="readonly" required>
                        <button id="botaoEnviar" class="btn btn-outline-light mx-4" type="submit">ENVIAR</button>
                    </form>
                    <hr />
                </div>
            </div>
            <hr />

            <!--CONFIG DA EDIÇÃO DOS SLIDES-->
            <div class="container col-md">
                <h2 style="text-align:center">EDITAR SLIDES</h2>

                <!--CARD SLIDE 1-->
                <div class="col border">
                    <h4 style="text-align:center">Slide 1</h4>
                    <hr id="linha" />

                    <!--Form Para Inserir Imagem-->
                    <form action="/AindaVaiSerFeito" method="post" enctype="multipart/form-data">
                        <label class="input-group">
                            <span class="input-file-btn">
                                <input type="file" name="slide1" hidden>
                            </span>
                        </label>
                        <input name="slide1" type="text" class="btn btn-outline-light input-file-dummy" placeholder="Foto para Slide1.png" aria-describedby="fileHelp" required>
                        <button id="botaoEnviar" class="btn btn-outline-light" type="submit">ENVIAR</button>
                    </form>

                    <!--Form Para Inserir Marca e Descricao-->
                    <hr />
                    <form action="/AindaVaiSerFeito" method="post">
                        <label> Alterar Marca Slide 1: </label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="marcaSlide1" />
                        <hr />
                        <label> Alterar descricao Slide 1: </label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="descricaoSlide1" />
                        <hr id="linha" />
                        <button class="btn btn-outline-light" type="submit">ENVIAR</button>
                        <a href="/user" class="btn btn-outline-light my-2 my-sm-0">VOLTAR</a>
                        <hr />
                    </form>
                </div>
                <hr />
                <!--CARD SLIDE 2-->
                <div class="col border">
                    <h4 style="text-align:center">Slide 2</h4>
                    <hr id="linha" />
                    <!--Form Para Inserir Imagem-->
                    <form action="user/upload" method="post" enctype="multipart/form-data">
                        <label class="input-group">
                            <span class="input-file-btn">
                                <input type="file" name="slide2" hidden>
                            </span>
                        </label>
                        <input name="slide2" type="text" class="btn btn-outline-light input-file-dummy" placeholder="Foto para Slide2.png" aria-describedby="fileHelp" required>
                        <button id="botaoEnviar" class="btn btn-outline-light" type="submit">ENVIAR</button>
                    </form>

                    <!--Form Para Inserir Marca e Descricao-->
                    <form action="/AindaVaiSerFeito" method="post">
                        <hr />
                        <label> Alterar Marca Slide 2: </label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="marcaSlide2" />
                        <hr />
                        <label> Alterar descricao Slide 2: </label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="descricaoSlide2" />
                        <hr />
                        <hr id="linha" />
                        <button class="btn btn-outline-light" type="submit">ENVIAR</button>
                        <a href="/" class="btn btn-outline-light my-2 my-sm-0">VOLTAR</a>
                        <hr />
                    </form>
                </div>
                <hr />
                <!--CARD SLIDE 3-->
                <div class="col border">
                    <h4 style="text-align:center">Alterar Imagens</h4>
                    <hr id="linha" />
                    <!--Form Para Inserir Imagem-->
                    <form action="user/upload" method="post" enctype="multipart/form-data">
                        <label class="input-group">
                            <span class="input-file-btn">
                                <input type="file" name="slide3" hidden>
                            </span>
                        </label>
                        <input name="slide3" type="text" class="btn btn-outline-light input-file-dummy" placeholder="Foto para Slide3.png" aria-describedby="fileHelp" required>
                        <button id="botaoEnviar" class="btn btn-outline-light" type="submit">ENVIAR</button>
                    </form>
                    <!--Form Para Inserir Marca e Descricao-->
                    <form action="/AindaVaiSerFeito" method="post">
                        <hr />
                        <label> Alterar Marca Slide 3: </label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="marcaSlide3" />
                        <hr />
                        <label> Alterar descricao Slide 3: </label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="descricaoSlide3" />
                        <hr id="linha" />
                        <a href="/user" class="btn btn-outline-light my-2 my-sm-0">VOLTAR</a>
                        <hr />
                    </form>
                </div>
            </div>
        </div>
        
        <!--CONFIG DOS PRODUTOS-->
        <div class="col">
            <div class="container col-md">
                <h2 style="text-align: center">EDITAR PRODUTOS</h2>
                <div class="col border">
                    <form action="#" method="post">
                        <h4 style="text-align:center">Adicionar Bone</h4>
                        <hr id="linha" />
                        <label>Imagem do Bone: <br /></label>
                        <input class="btn btn-outline-light btn-sm form-control-file" type="file" name="imagemBone" />
                        <hr />
                        <label>Titulo ou Marca do Bone: </label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="tituloBone" />
                        <hr />
                        <label>Descricao do Bone:</label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="descricaoBone" />
                        <hr />
                        <label>Unidades disponiveis:</label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="unidadesBone" />
                        <hr id="linha" />
                        <button class="btn btn-outline-light" type="submit">ENVIAR</button>
                        <a href="/user" class="btn btn-outline-light my-2 my-sm-0">VOLTAR</a>
                        <hr />
                    </form>
                </div>
                <hr />
                <div class="col border">
                    <form action="#" method="post">
                        <h4 style="text-align:center">Adicionar Camisa</h4>
                        <hr id="linha" />
                        <label>Imagem da Camisa: <br /></label>
                        <input class="btn btn-outline-light btn-sm form-control-file" type="file" name="imagemCamisa" />
                        <hr />
                        <label>Titulo ou Marca da Camisa: </label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="tittuloCamisa" />
                        <hr />
                        <label>Descricao da Camisa:</label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="descricaoCamisa" />
                        <hr />
                        <label>Unidades disponiveis:</label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="unidadesCamisa" />
                        <hr id="linha" />
                        <button class="btn btn-outline-light" type="submit">ENVIAR</button>
                        <a href="/user" class="btn btn-outline-light my-2 my-sm-0">VOLTAR</a>
                        <hr />
                    </form>
                </div>
                <hr />

                <div class="col border">
                    <form action="#" method="post">
                        <h4 style="text-align:center">Adicionar Carteira</h4>
                        <hr id="linha" />
                        <label>Imagem da Carteira: <br /></label>
                        <input class="btn btn-outline-light btn-sm form-control-file" type="file" name="imagemCarteira" />
                        <hr />
                        <label>Titulo ou Marca da Carteira: </label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="tittuloCarteira" />
                        <hr />
                        <label>Descricao da Carteira:</label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="descricaoCarteira" />
                        <hr />
                        <label>Unidades disponiveis:</label>
                        <input class="btn btn-outline-light btn-sm" type="text" name="unidadesCarteira" />
                        <hr id="linha" />
                        <button class="btn btn-outline-light" type="submit">ENVIAR</button>
                        <a href="/user" class="btn btn-outline-light my-2 my-sm-0">VOLTAR</a>
                        <hr />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>