body {
    background-color: #181818;
    color: white;
}

.abaOff {
    display: none;
}

.arquivo {
    display: none;
}

.file {
    line-height: 30px;
    height: 30px;
    border: 1px solid #A7A7A7;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    vertical-align: middle;
    width: 300px;
}

#Aba0 {
    margin-top: 5px
}

#Aba1 {
    margin-top: 5px
}

#Aba2 {
    margin-top: 5px
}

#Aba3 {
    margin-top: 5px
}


#produto-background {
    background-color: gray;
}

#opcoes {
    text-align: center;
}

#linha {
    background-color: gold;
}

#carouselExampleCaptions {
    margin-top: 60px;
}

